{% include "article_date_string.html" %}
{% if page.lang == "en" %}
    {% assign link_button_text = "Button to copy link to current page" %}
{% elsif page.lang == "es" %}
    {% assign link_button_text = "Butón para copiar el enlace de la página actual" %}
{% endif %}


<!DOCTYPE html>
<html lang="{{page.lang}}">
    <head>
        {% include "head.html" %}
        <link rel="stylesheet" href="/stylesheets/blog.css">
        <link rel="stylesheet" href="/stylesheets/article.css">

        <title>{{ title }} - FormularSumo</title>
        <meta property="description" content="{{description}}">
    </head>

    <body>
        {% include "navbar.html" %}
        <main>
            <article>
                <header>
                    <h1>{{title}}
                        <button onclick='navigator.clipboard.writeText("https://formularsumo.co.uk{{page.url}}")' style="border: none; background: none; cursor: pointer; margin-left: 10px;">
                            <svg style="height: 35px;">
                                <title>"{{link_button_text}}"</title>
                                <use xlink:href="/assets/link.svg#Link"></use>
                            </svg>
                        </button>
                    </h1>
                    <p class="date">{{first_published}}: {{ date | postDate: page.lang }}</p>
                </header>

                {{content}}

                {% if footnotes %}
                    <section class="footnotes">
                        <h2 class="footnotes">Footnotes</h2>
    
                        {% assign fn_num = 1 %}
                        {% for footnote in footnotes %}
                            <p id="fn-{{fn_num}}">
                                <a href="#n-{{fn_num}}">{{fn_num}}</a> {{footnote}}
                            </p>
                            {% assign fn_num = fn_num | plus: 1 %}
                        {% endfor %}
                    </section>
                {% endif %}
            </article>
        </main>
    </body>
</html>