{% include "partials/article_strings.html" -%}

{% if page.lang == "en" -%}
    {% assign footnotes_text = "Footnotes" -%}
    {% assign contents_text = "Contents" -%}
{% else -%}
    {% assign footnotes_text = "Notas a pie" -%}
    {% assign contents_text = "Índice" -%}
{% endif -%}

<!DOCTYPE html>
<html lang="{{page.lang}}">
    <head>
        {% include "partials/head.html" %}

        <link rel="stylesheet" href="/stylesheets/article.css">
        {% if stylesheet -%}
            <link rel="stylesheet" href="/stylesheets/{{stylesheet}}.css">
        {%- endif %}

        <meta name="fediverse:creator" content="@FormularSumo@vivaldi.net">
        <meta property="og:type" content="article">
        <meta property="article:author" content="James Heppell">
        <meta property="article:published_time" content="{{date}}">

        {% if style %}
            {{style}}
        {% endif %}
    </head>

    <body class="margin">
        {%- include "partials/navbar.html" %}

        <main>
            <article>
                <header>
                    <h1>{{title}}
                        <button onclick='navigator.clipboard.writeText("https://formularsumo.co.uk{{page.url}}")'>
                            <svg>
                                <title>{{link_button_text}}</title>
                                <use xlink:href="/assets/link.svg#Link"></use>
                            </svg>
                        </button>
                        <button id="share-button" onclick='navigator.share({url: "https://formularsumo.co.uk{{page.url}}", title: "{{title}}", text: "{{description}}"})'>
                            <svg>
                                <title>{{share_button_text}}</title>
                                <use xlink:href="/assets/share.svg#Share"></use>
                            </svg>
                        </button>
                    </h1>
                    <p class="date">{{first_published}}: {{ date | postDate: page.lang }}</p>
                </header>


                {% if content | get_content %}

                {{content | get_introduction-}}

                <p class="contents_title">{{contents_text}}</p>

                <div class="contents">
                    {{content | get_content | toc-}}
                </div>

                {{content | get_content-}}

                {% else %}
                    {{content-}}
                {% endif %}


                {% if footnotes %}
                    <section class="footnotes">
                        <h2>{{footnotes_text}}</h2>
    
                        {% assign fn_num = 1 %}
                        {% for footnote in footnotes %}
                            <p id="fn-{{fn_num}}">
                                <a href="#n-{{fn_num}}">{{fn_num}}</a> {{footnote}}
                            </p>
                            {% assign fn_num = fn_num | plus: 1 %}
                        {% endfor %}
                    </section>
                {% endif %}
            </article>

            <script>
                if (!navigator.share) {
                    document.getElementById("share-button").remove();
                }
            </script>
        </main>
    </body>
</html>