{% include "partials/article_strings.html" -%}

<!DOCTYPE html>
<html lang="{{page.lang}}">
    <head>
        {% include "partials/head.html" %}

        <style>
            .feed {
                height: 1.1em;
                position: relative;
                top: 0.15em;
            }
        </style>

        <link rel="me" href="https://social.vivaldi.net/@FormularSumo">
    </head>

    <body class="margin blog">
        {% include "partials/navbar.html" %}

        <main>
            <h1 class="title">Blog
                <a href="{{'/feed/' | localiseURL: page.lang}}" target="_blank">
                    <svg class="feed">
                        <title>{{Feed}}</title>
                        <use xlink:href="/assets/feed.svg#Feed"></use>
                    </svg>
                </a>
            </h1>
            <section class="entries">
                {% for post in collections.post reversed -%}
                    {% if post.data.tags contains page.lang -%}
                        <a href="{{post.url}}"><h1>{{post.data.title}}</h1>
                            <p class="date">{{first_published}}: {{ post.date | postDate: page.lang}}</p>
                            <p>{{post.data.description}}</p>
                        </a>
                    {% endif -%}
                {% endfor -%}
            </section>
        </main>
        
    </body>

    <a href="/oh-dear/">
        <picture>
            <source scrset="/assets/gromit.jxl" type="image/jxl">
            {% if page.lang == "en" -%}
            <img src="/assets/gromit.webp" alt="Gromit from Wallace & Gromit, looking confused" loading="lazy" style="width:35px; float: right;">
            {% else -%}
            <img src="/assets/gromit.webp" alt="Gromit from Wallace & Gromit, looking confused" loading="lazy" style="width:35px; position: fixed; right: 0px; bottom: 0px;">
            {% endif -%}
        </picture>
    </a>

    <link rel="prefetch" href="/stylesheets/article.css" as="style">
</html>