{% assign en_alt_flag = "English langauge flag" %}
{% assign es_alt_flag = "Bandera del idioma español" %}

{% if page.lang == "en" %}
    {% assign home = "Home" %}
    {% assign blog = "Blog" %}
    {% assign testPage = "Test" %}
    {% assign FS_alt = "logo" %}

    {% assign second_lang = "es" %}
    {% assign URL = "" %}
{% else %}
    {% if page.lang == "es" %}
        {% assign home = "Inicio" %}
        {% assign blog = "Blog" %}
        {% assign testPage = "Prueba" %}
        {% assign FS_alt = "logotipo" %}

        {% assign second_lang = "en" %}
    {% endif %}

    {% assign URL = page.lang %}
{% endif %}

{% assign current_lang_flag_alt = page.lang | append: "_alt_flag" %}
{% assign second_lang_flag_alt = second_lang | append: "_alt_flag" %}

{% if page.fileSlug == "es" %}
    {% assign slug = "" %}
{% else %}
    {% assign slug = page.slug %}
{% endif %}

<div class="navbar" title="navbar">
    <picture>
        <source srcset="/assets/Logo.jxl" type="image/jxl">
        <img src="/assets/Logo.webp" alt="FormularSumo {{FS_alt}}">
    </picture>

    <input type="checkbox" id="language_switcher_checkbox">
    <label for="language_switcher_checkbox" style="float: right; margin-right: 20px"><img src="/assets/{{page.lang}}.svg" alt="{{[current_lang_flag_alt]}}"></label>

    <ul class="menu language_switcher">
        <li class="language"><a href="{{page.url | localiseURL: second_lang}}"><img src="/assets/{{second_lang}}.svg" alt="{{[second_lang_flag_alt]}}"></a></li>
    </ul>

    <input type="checkbox" id="navbar_checkbox">
    <label for="navbar_checkbox">≡</label>

    <ul class="menu top_nav">
        <li class="nav_element"><a tabindex="1" href="{{'/' | localiseURL: URL}}">{{home}}</a></li>
        <li class="nav_element"><a tabindex="1" href="{{'/blog/' | localiseURL: URL}}">{{blog}}</a></li>
        <!-- <li class="nav_element"><a tabindex="1" href="{{'/testPage/' | localiseURL: URL}}">{{testPage}}</a></li> -->
    </ul>
</div>