
<div class="collapsible_menu">
    <picture>
        <source srcset="/assets/Logo.jxl" type="image/jxl">
        <img src="/assets/Logo.webp" alt="Logo" style="height: 50px; display: flex; float: right">
    </picture>

    <input type="checkbox" id="collapsible_button">
    <label for="collapsible_button">≡</label>

    <ul class="top_nav">
        <li class="nav_element"><a href="/index">Home</a></li>
        <li class="nav_element"><a href="/blog">Blog</a></li>
        <li class="nav_element"><a href="/testPage">Test</a></li>
    </ul>
    
</div>