{% assign en_alt_flag = "English language flag" -%}
{% assign es_alt_flag = "Bandera del idioma español" -%}

{% if page.lang == "en" -%}
    {% assign home = "Home" -%}
    {% assign blog = "Blog" -%}
    {% assign livingPages = "Living pages" -%}
    {% assign aboutThisSite = "About this site" -%}
    {% assign FS_alt = "logo" -%}
    {% assign nav_menu_button = "Open/close navigation menu" -%}
    {% assign language_switcher_button = "Change language" -%}

    {% assign second_lang = "es" -%}
{% else -%}
    {% assign home = "Inicio" -%}
    {% assign blog = "Blog" -%}
    {% assign livingPages = "Páginas vivas" -%}
    {% assign aboutThisSite = "Sobre esta web" -%}
    {% assign FS_alt = "logotipo" -%}
    {% assign nav_menu_button = "Abrir/cerrar el menú de navegación" -%}
    {% assign language_switcher_button = "Cambiar el idioma" -%}

    {% assign second_lang = "en" -%}
{% endif -%}

{% assign current_lang_flag_alt = page.lang | append: "_alt_flag" -%}
{% assign second_lang_flag_alt = second_lang | append: "_alt_flag" %}

<header class="navbar" title="navbar">
    <button id="nav_menu_button" type="button" aria-label="{{nav_menu_button}}" aria-expanded="false" aria-controls="nav_menu">≡</button>
    <nav id="nav_menu">
        <ul>
            <li class="nav_element"><a href="{{'/' | localiseURL: page.lang}}">{{home}}</a></li>
            <li class="nav_element"><a href="{{'/blog/' | localiseURL: page.lang}}">{{blog}}</a></li>
            <li class="nav_element"><a href="{{'/living-pages/' | localiseURL: page.lang}}">{{livingPages}}</a></li>
            <li class="nav_element"><a href="{{'/about-this-site/' | localiseURL: page.lang}}">{{aboutThisSite}}</a></li>
        </ul>
    </nav>

    <button id="language_switcher_button" type="button" aria-label="{{language_switcher_button}}" aria-expanded="false" aria-controls="language_switcher"><img src="/assets/{{page.lang}}.svg" alt="{{[current_lang_flag_alt]}}"></button>
    <nav id="language_switcher">
        <ul>
            <li class="language"><a href="{{page.url | translateURL: second_lang}}"><img src="/assets/{{second_lang}}.svg" alt="{{[second_lang_flag_alt]}}" loading="lazy"></a></li>
        </ul>
    </nav>

    <picture>
        <source srcset="/assets/logo-120.jxl" type="image/jxl">
        <img src="/assets/logo-120.webp" alt="FormularSumo {{FS_alt}}" class="navbar_logo">
    </picture>
</header>

<script>
    const buttons = ['nav_menu_button', 'language_switcher_button'];

    for (const btnId of buttons) {
        const btn = document.getElementById(btnId);

        btn.addEventListener('click', function () {
            const btnState = btn.getAttribute('aria-expanded') === 'true';
            btn.setAttribute('aria-expanded', String(!btnState));
        });
    }
</script>