main {
    /*Article title*/
    h1 {
        margin-top: 32px;
        margin-bottom: 2px;
        font-size: 40px;
    }

    .date {
        margin-bottom: 16px;
        font-size: 15px;
    }

    /*Article headings*/
    h2 {
        margin-top: 20px;
        margin-bottom: 12px;
        font-size: 28px;
    }

    h3 {
        margin-top: 12px;
        margin-bottom: 6px;
        font-size: 21px;
    }

    .caption {
        /* margin-top: 0px; */
        font-size: 14.5px;
        font-style: italic;
    }

    .footnotes {
        content-visibility: auto;
        contain-intrinsic-size: auto 350px;
        h2 {
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 24px;
        }
        p {
            font-size: 14px;
        }
    }
}