main {
    margin-inline: max(6px + 3%, 50% - 375px);
    /*After ~800px display width, content will remain the same width and only margins will expand*/

    --heading_font: Georgia, serif;
    font-family: var(--heading_font);

    .date {
        margin-top: 0px;
        font-style: italic;
        font-weight: unset;
        font-family: var(--heading_font);
    }

    p {
        line-height: 1.5;
        font-family: "DejaVu Sans", sans-serif;
    }
    :not(h) {
        a, button {
            color: light-dark(rgb(55, 55, 55), rgb(225, 225, 225));
        }

        a:hover, a:focus-within, button:hover { /*focus-within is not used for buttons as this causes them to remain highlighted after being clicked. It shouldn't really affect screen reader usage as the button is outlined clearly by the browser*/
            color: light-dark(black, white);
        }
    }
}